<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>故事面板</title>
    <link th:href="@{plugin/element-ui/lib/theme-chalk/index.css}" rel="stylesheet"/>
    <script th:src="@{plugin/vue/vue-2.5.13.min.js}"></script>
    <script th:src="@{plugin/element-ui/lib/index.js}"></script>
</head>
<body>
<div id="main">
    <div th:include="header"></div>
    <div th:include="tags"></div>
    <div th:include="nav"></div>
  <!--  <div th:include="footer :: copyright"></div>-->
</div>
</body>
</html>